<% if !@atd_credits.blank? %>
    <H2 style='text-align:center'>Credit Transactions</H2>
    <br/>
	<table id="table_style">
		<tr>
			<th>From A/C</th>
			<th>To A/C</th>
			<th>Saving</th>
			<th>Due</th>
			<th>Principle Credit</th>
			<th>Interest</th>
			<th>Others</th>
		</tr>
		<% for atd_credit in @atd_credits%>	
		    <tr>
			  <td><%= atd_credit.from_account.name.to_s + " (" + atd_credit.from_account.accountable.class.to_s + ")" %></td>
			  <td><%= atd_credit.to_account.name.to_s + " (" + atd_credit.to_account.accountable.class.to_s  + ")" %></td>
			  <td><%= atd_credit.saving %></td>
			  <td><%= atd_credit.due %></td>
			  <td><%= atd_credit.principle_credit %></td>
			  <td><%= atd_credit.interest_credit %></td>
			  <td><%= atd_credit.other_amount %></td>
		    </tr>
	    <% end %>	
	</table>	
<% end %>
<% if !@atd_debits.blank? %>
    <br/>
    <H2 style='text-align:center'>Debit Transactions</H2>
    <br/>
	<table id="table_style">
		<tr>
			<th>From A/C</th>
			<th>To A/C</th>
			<th>Principle Debit</th>
			<th>Others</th>
		</tr>
		<% for atd_debit in @atd_debits%>
		    <tr>
			  <td><%= atd_debit.from_account.name.to_s + " (" + atd_debit.from_account.accountable.class.to_s  + ")" %></td>
			  <td><%= atd_debit.to_account.name.to_s + " (" + atd_debit.to_account.accountable.class.to_s + ")" %></td>
			  <td><%= atd_debit.principle_debit %></td>
			  <td><%= atd_debit.other_amount %></td>
		    </tr>
	    <% end %>	
	</table>	
<% end %>