<h3 style='text-align:center'>Groups</h3>
<p style='margin-left:322px'><%= link_to "New Group", new_group_path %></p>	
<table id="table_style">
	<tr>
		<th>Name</th>
		<th>Saving</th>
		<th>Due</th>
		<th></th>
		<th></th>
	</tr>	
	<% for group in @groups %>
	  <tr>
		<td><%= group.name %></td>
		<td><%= group.saving_amount %></td>
		<td><%= group.due_amount %></td>
		<td><%= link_to "Edit", edit_group_path(group) %></td>
		<td><%= link_to "Delete", group_path(group), :confirm => "Are you sure?", :method=>:delete %></td>
	  </tr>	
	<% end %>
</table>	