<table id="table_style">
	<tr>
		<td>First Name : </td>
		<td><%= text_field :user, :first_name, :size => "30" %></td>
	</tr>
	<tr>
		<td>Last Name : </td>
		<td><%= text_field :user, :last_name, :size => "30" %></td>
	</tr>
	<tr>
		<td>Email :</td>
		<td><%= text_field :user, :email, :size => "30" %></td>
	</tr>
	<tr>
		<td>DOB :</td>
		<td><%= text_field :user, :dob, :size => "8", :class => "datepicker" %></td>
	</tr>
	<tr>
		<td>Group :</td>
		<td><%= collection_select :selected, :group_id, @groups,:id, :name, {:prompt => "Select"} %></td>
	</tr>	
	<tr>
		<td>Position :</td>
		<td><%= text_field :user, :position, :size => "30" %></td>
	</tr>
</table>	
