<% total_hash = {"saving" => 0, "due" => 0, "principle_credit" => 0, "interest_credit" => 0, "other_amount" => 0, "total" => 0} %>
<% debit_details = {} %>
<% for member in @members %>

  <% details = member.monthly_decision_book(params[:transaction_date].to_date) %>
  <% total_hash["saving"] += details["saving"] %>
  <% total_hash["due"] += details["due"] %>
  <% total_hash["principle_credit"] += details["principle_credit"] %>
  <% total_hash["interest_credit"] += details["interest_credit"] %>
  <% total_hash["other_amount"] += details["other_amount"] %>
  <% total = details["saving"] + details["due"] + details["other_amount"] + details["principle_credit"] + details["interest_credit"] %>
  <% total_hash["total"] += total %>

  <% debit_details.merge!({member.full_name => member.monthly_decision_book_debit(params[:transaction_date].to_date)}) %>
  <% debit_details.delete_if{|k,v| v["principle_debit"] == 0 } %>

<% end %>
<table>
<tr>
<td valign='top'>  
<table id="table_style"> 
    <tr>
      <th rowspan='2'>Date</th>  
      <th rowspan='2'>Credit Details</th>
      <th colspan='2' style='text-align:center'>Cash</th>
      <th colspan='2' style='text-align:center'>Bank</th>
    </tr> 
    <tr>
      <th>Rs</th>  
      <th>paise</th>
      <th>Rs</th>  
      <th>paise</th>
    </tr>
    <tr><td>&nbsp;</td><td><b>Opening Balance</b></td><td>0</td><td>00</td><td>0</td><td>00</td></tr>
    <tr><td>&nbsp;</td><td>Savings</td><td><%= total_hash["saving"] %></td><td>00</td><td>0</td><td>00</td></tr>
    <tr><td>&nbsp;</td><td>Due</td><td><%= total_hash["due"] %></td><td>00</td><td>0</td><td>00</td></tr>
    <tr><td>&nbsp;</td><td>Principle Collect</td><td><%= total_hash["principle_credit"] %></td><td>00</td><td>0</td><td>00</td></tr>
    <tr><td>&nbsp;</td><td>Interest Collect</td><td><%= total_hash["interest_credit"] %></td><td>00</td><td>0</td><td>00</td></tr>
    <tr><td>&nbsp;</td><td>Others</td><td><%=  total_hash["other_amount"] %></td><td>00</td><td>0</td><td>00</td></tr>
    <tr><td>&nbsp;</td><td><b>Total</b></td><td><%=  total_hash["total"] %></td><td>00</td><td>0</td><td>00</td></tr>
</table>
</td>
<td valign='top'>
<table id="table_style"> 
    <tr>
      <th rowspan='2'>Date</th>  
      <th rowspan='2'>Debit Details</th>
      <th colspan='2' style='text-align:center'>Cash</th>
      <th colspan='2' style='text-align:center'>Bank</th>
    </tr> 
    <tr>
      <th>Rs</th>  
      <th>paise</th>
      <th>Rs</th>  
      <th>paise</th>
    </tr>

    <% tot = 0 %>
    <tr><td>&nbsp;</td><td><b>Loan Issued</b></td><td></td><td></td><td></td><td></td></tr>
    <% for debit_detail in debit_details.to_a %>
      <% tot += debit_detail[1]["principle_debit"] %>
      <tr><td>&nbsp;</td><td><%= debit_detail[0] %></td><td><%= debit_detail[1]["principle_debit"] %></td><td>00</td><td>0</td><td>00</td></tr>
    <% end %>

    <tr><td>&nbsp;</td><td><b>Expenses</b></td><td></td><td></td><td></td><td></td></tr>
    <% for expense in @group.get_expenses(params[:transaction_date]) %>
      <% tot += expense.other_amount %>
      <tr><td>&nbsp;</td><td><%= expense.comments %></td><td><%= expense.other_amount %></td><td>00</td><td>0</td><td>00</td></tr>
    <% end %>

    <tr><td>&nbsp;</td><td></td><td><%= 0 %></td><td>00</td><td>0</td><td>00</td></tr>
    <tr><td>&nbsp;</td><td></td><td><%=  00 %></td><td>00</td><td>0</td><td>00</td></tr>
    <tr><td>&nbsp;</td><td><b>Total</b></td><td><%=  tot %></td><td>00</td><td>0</td><td>00</td></tr>
</table>
</td>
</tr>
</table>
