<h3 style='text-align:center'>Member Loan Details</h3>
<br/>
<table id="table_style">
    <tr>
        <th>S.No</th>
      	<th>Name</th>
      	<th>Loan Amount</th>
      	<th>Interest</th>
        <th>Total</th>
    </tr>
    <% i = 0 %>
    <% for member in @members %>
    <% i += 1 %>
    <tr>
        <td><%= i %></td>
        <td><%=member.full_name %></td>
        <td><%= bal = member.account.outstanding_balance %></td>
        <td><%= intr = member.get_balance_interest(params["date"].to_date) %></td>
        <td><%= bal + intr %></td>
    </tr>
    <% end %>
</table>
<br/>
<h3 style='text-align:center'>Group Loan Details</h3>
<br/>
<table id="table_style">
    <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Loan Amount</th>
        <th>Interest</th>
        <th>Total</th>
    </tr>
    <% i = 0 %>
    <% for group in @groups %>
    <% i += 1 %>
    <% result = Group.balance_principal_and_interest(@group, group, params["date"].to_date) %>
    <tr>
        <td><%= i %></td>
        <td><%= group.name %></td>
        <td><%= bal = result["principle_credit"] %></td>
        <td><%= intr = group.get_balance_interest(@group, params["date"].to_date) %></td>
        <td><%= bal + intr %></td>
    </tr>
    <% end %>
</table>


