 <!--
Design by Bryant Smith
http://www.bryantsmith.com
http://www.aszx.net
email: templates [-at-] bryantsmith [-dot-] com
Released under Creative Commons Attribution 2.5 Generic.  In other words, do with it what you please; but please leave the link if you'd be so kind :)

Name       : The Slant
Version    : 1.0
Released   : 2009-07-25
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />
<title>SuyaVuthavi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


    <div id="page">
		
        <div id="header">
        	<h1>&nbsp</h1>
            <ul>
                <li>
                   <ul>
                      <li><a onmouseover="showMenu(1)" onmouseout="startTimer()" style="cursor:pointer">Admin</a></li>
                      <li>
                        <div class="popupMenu" id="menu_1" style="display: none;">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr id="opt_d"><td><%= link_to "Users", list_users_path%></td></tr>
                              <tr id="opt_e"><td><%= link_to "Groups", groups_path%></td></tr>
                              <tr id="opt_f"><td><%= link_to "Banks", banks_path%></td></tr>
                            </tbody>
                          </table>
                        </div>
                      </li>
                   </ul>   
                 </li>
                 <li>
                   <ul>
                      <li><a onmouseover="showMenu(2)" onmouseout="startTimer()" style="cursor:pointer">Transactions</a></li>
                      <li>
                        <div class="popupMenu" id="menu_2" style="display: none;">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr id="opt_d"><td><%= link_to "Member Transaction", member_transaction_account_transactions_path %></td></tr>
                              <tr id="opt_e"><td><%= link_to "Group Transaction", group_transaction_account_transactions_path %></td></tr>
                              <tr id="opt_f"><td><%= link_to "Bank Transaction", bank_transaction_account_transactions_path %></td></tr>
                            </tbody>
                          </table>
                        </div>
                      </li>
                   </ul>
                 </li>
                <li>
                  <ul>
                      <li><a onmouseover="showMenu(3)" onmouseout="startTimer()" style="cursor:pointer">Reports</a></li>
                      <li>
                        <div class="popupMenu" id="menu_3" style="display: none;">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr id="opt_d"><td><%= link_to "Loan Details", loan_details_reports_path%></td></tr>
                              <tr id="opt_d"><td><%= link_to "Monthly Details", monthly_loan_details_reports_path%></td></tr>
                              <tr id="opt_d"><td><%= link_to "Grand Details", grand_details_reports_path%></td></tr>
                            </tbody>
                          </table>
                        </div>
                      </li>
                   </ul>
                </li>
                <li>&nbsp;</li>
                <% unless user_signed_in? -%>
                   <li><%= link_to "Sign in", signin_path %></li>
                <% else -%>
                   <li><%= link_to "Sign out", signout_path %></li>
                <% end -%>
            </ul>
        </div>
  
        <div id="main">
        
        	<!--div class="main_top">
            	<h1></h1>
            </div-->
            
           	<div class="main_body">
                <%= yield %>
            </div>
            
           	<div class="main_bottom"></div>
            
        </div>
        
              
        <div id="footer">
        <p>
        Web Development by <a href="http://www.mangudi.info">Govind and Rami</a>
        </p>
        </div>     
        </div>
</body>
</html>

<SCRIPT LANGUAGE="JavaScript">
var  timerId=0 ;

function clearTimer() {
  if (timerId!=0) {
    clearTimeout(timerId); timerId=0; }}

function startTimer() {
  clearTimer(); timerId=setTimeout('timerId=0;hideMenus()',2000); }

function showMenu(menuNum) {
  clearTimer(); hideMenus();
  document.getElementById('menu_'+menuNum).style.display=""; }

function hideMenus() {
  var  i=1 ;
  while (document.getElementById('menu_'+i)) {
    document     .getElementById('menu_'+i).style.display="none";
    i++; }}

function hiLite(theOption) {
  clearTimer();
  document.getElementById('opt_'+theOption).style.background='#9090FF'; }

function unLite(theOption) {
  startTimer();
  document.getElementById('opt_'+theOption).style.background='#D0D0FF'; }

function optClick(theOption) {
  unLite(theOption); clearTimer(); hideMenus();
  alert('You clicked option '+theOption.toUpperCase()+'.  '+
  'This code should actually do something in response to that.'); }

</SCRIPT>
